<template>
  <transition-group class="card-container" name="list" tag="ul">
    <li class="card" v-for="(result, index) in data" :key="index">
      <div class="card-content">
        <p class="title is-black pb-1">
          {{ result.name }}
        </p>
        <p class="subtitle is-black is-size-4">{{ result.category }}</p>
        <br />
      </div>
      <div class="card-has-footer">
        <span class="is-size-2 has-text-success card-value">
          {{ result.co2 }}
        </span>
        <span class="card-unit">{{ result.unit }}</span>
      </div>
    </li>
  </transition-group>
</template>

<script>
export default {
  name: "SearchBar",
  data() {
    return {};
  },
  props: {
    data: Array,
  },
};
</script>

<style >
.card {
  margin-top: 15px;
  box-shadow: none;
}
.card-value,
.card-unit {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}
.pb-1 {
  padding-bottom: 10px;
}
.card-has-footer {
  align-self: flex-end;
}
.is-black,
.is-black {
  color: black !important;
}
.card-content {
  height: 75%;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.5em;
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}
@media screen and (max-width: 768px) {
  .card-content {
    grid-template-columns: 1fr;
  }

  .card-content-right,
  .card-content-left {
    text-align: center;
  }
}
</style>
