<template>
  <div>
    <div style="display: flex; justify-content: center">
      <div style="display: flex;">
        <input
          @input="$emit('searchinput', $event.target.value)"
          :value="searchValue"
          class="input is-large"
          type="text"
          style="max-width: 390px"
        />
        <button class="button is-large" style="margin-left: 15px">
          🔍
        </button>
      </div>
    </div>

    <div v-if="!searchValue">
      <p class="subtitle is-4" style="margin-top: 5px;">
        Exemples de recherche :
      </p>

      <ul style="display: flex">
        <li v-for="example in inputExamples" :key="example">
          <button
            class="button is-outlined"
            style="cursor: pointer; margin-right: 10px"
            @click="$emit('searchinput', example)"
          >
            {{ example }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  data() {
    return {
      inputExamples: ['poulet', 'ordinateur', 'avion'],
    };
  },
  props: {
    searchValue: String,
  },
  methods: {},
};
</script>

<style></style>
