<template>
  <div>
    <section class="hero is-primary is-medium">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item is-size-3 has-text-weight-semibold	">
                Recherche d'impact carbone
              </a>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu"></div>
          </div>
        </nav>
      </div>
      <div class="hero-body-padding-small">
        <div class="container">
          <div class="has-text-centered pa-5">
            <img :src="mySVG" class="home-svg" />
            <h1 class="title">
              Moteur de recherche carbone
            </h1>
            <h2 class="subtitle">
              Rechercher l'impact carbone de
            </h2>
          </div>
          <SearchBar
            :search-value="searchValue"
            @searchinput="updateResults"
          ></SearchBar>
          <ResultList :data="results"></ResultList>
          <div class="hero-body"></div>
          <div class="hero-foot pa-5 is-italic">
            <h2 class="is-bold">Qu'est ce qu'une empreinte carbone ?</h2>
            <p>
              <a
                href="https://www.statistiques.developpement-durable.gouv.fr/sites/default/files/2020-01/datalab-essentiel-204-l-empreinte-carbone-des-francais-reste-%20stable-janvier2020.pdf"
              >
                Selon le Commissariat général au développement durable </a
              >, l'empreinte carbone des Français représente 11 tonnes
              équivalent CO2 (t CO2 éq) par habitant en 2018. Celle-ci
              comptabilise les gaz à effet de serre (GES) induits par la
              consommation des Français (y compris la consommation des
              administrations, des organismes à but non lucratif et les
              investissements), en tenant compte des émissions associées à la
              production des biens et services importés.
            </p>
            <div class="is-divider" data-content="OR"></div>
            <h2 class="is-bold">Qu'est-ce que la base carbone ?</h2>
            <p>
              A propos de la Base Carbone et de la base de données La Base
              Carbone est une base de données publiques, gérée par l'ADEME, de
              facteurs d'émissions nécessaires à la réalisation d'exercices de
              comptabilité carbone. (Un facteur d'émission est un ratio
              permettant de connaître les émissions de gaz à effet de serre
              liées à un objet, une matière, ou un service).
              <span>
                Lien vers la base Carbone:
                <a
                  href="data.gouv.fr/fr/datasets/base-carbone-complete-de-lademe-en-francais-v17-0/#_"
                  >Base carbone</a
                >
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SearchBar from './components/SearchBar';
import ResultList from './components/ResultsList';


import BaseCarbone from './assets/base_carbone.json';

import Fuse from 'fuse.js';
export default {
  name: 'App',
  data() {
    return {
    results: [],
      dictionnary: BaseCarbone,
      searchValue: '',
      mySVG: require('./assets/home.svg'),
    };
  },
  components: {
    SearchBar,
    ResultList,
  },
  methods: {
    updateResults(newValue) {
      this.results = this.search(newValue);
      console.log(this.results);
    },
    search(keyword) {
      const keys = ['name', 'category'];
      let fuse = new Fuse(this.dictionnary, {
        keys: keys,
        includeScore: true,
        threshold: 0.2,
      });
      this.searchValue = keyword;
      return fuse
        .search(keyword)
        .map((result) => result.item)
        .slice(0, 50);
    },
  },
  computed: {},
};
</script>

<style>
@import '../node_modules/bulma/css/bulma.css';

.hero {
  min-height: 100vh;
}
.home-svg {
  width: 420px;
}
.pa-5 {
  padding: 24px;
}
.is-divider {
  width: 100px;
  height: 15px;
  padding: 2px;
}
</style>
